{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie and Review</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'user_stats' %}" class="back-to-stats">Back to Stats</a>
        <h1>Add Movie and Review</h1>
        <span class="app-name">ReMovie</span>
    </div>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ movie_form.as_p }}
            {{ review_form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>                
    </div>    
</body>
</html>
