{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="{% url 'user_stats' %}" class="back-to-stats">Back to Stats</a>
        <h1>Movie List</h1>
        <span class="app-name">ReMovie</span>
    </div>
    <div class="container">
        <div class="movie-tiles">
            {% for movie in movies %}
            <div class="movie-tile">
                <a href="{% url 'movie_detail' movie.id %}">
                    {% if movie.cover_image %}
                    <img src="{{ movie.cover_image.url }}" alt="{{ movie.title }}">
                    {% else %}
                    <p>No image available</p>
                    {% endif %}
                    <p>{{ movie.title }}</p>
                    <p>{{ movie.release_date|date:"Y" }}</p>
                </a>
            </div>            
            {% endfor %}
        </div>
    </div>
</body>
</html>
