{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Stats</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="{% url 'movie_list' %}" class="back-to-stats">Movie List</a>
        <h1>{{ user.username }}'s Stats</h1>
        <span class="app-name">ReMovie</span>
    </div>
    <div class="container">
        <!-- Statystyki użytkownika -->
        <div class="user-stats">
            <h2>User Stats</h2>
            <p>Movies Watched: {{ stats.movies_watched }}</p>
            <p>Average Rating: {{ stats.average_rating|floatformat:2 }}/10</p>
            <a href="{% url 'logout' %}" class="logout">Logout</a>
        </div>
        <!-- Ostatnio obejrzane filmy z komentarzami -->
        <div class="watched-movies">
            <h2>Watched Movies and Reviews</h2>
            <ul>
                {% for review in reviews %}
                    <li>
                        <strong>{{ review.movie.title }}</strong> - Rating: {{ review.rating }}/10<br>
                        <p>{{ review.comment }}</p>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'add_movie_and_review' %}">Add Movie and Review</a>
        </div>
    </div>
</body>
</html>
